.navigationMenuBar {
    display: flex;
    user-select: none;
    flex-direction: column;
}

.navigationMenuBar .navigationMenuLine {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 24px;
    margin-right: 24px;
    min-height: 56px;
    height: 56px;
    max-height: 56px;
}

.navigationMenuBar .navigationMenuLine .navigationMenuBarTitle {
    color: #fff;
    font-size: 24px;
    left: 24px;
}

.navigationMenuBarNav {
    flex: 1;
    align-items: center;
    display: flex;
}

.navigationMenuBarNav .navigationMenuBarNavItem a {
    background: none;
    color: rgba(255, 255, 255, 0.54);
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 64px;
    line-height: 64px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.2s;
    user-select: none;
    margin: 10px;
}

.navigationMenuBarNav .navigationMenuBarNavItem a:hover {
    color: #fff;
}

.navigationMenuBarNav .navigationMenuBarNavItem a .isActive {
    color: #fff;
}

@keyframes progressBarBctive {
    0% {
        transform: translateX(-70vw);
    }
    100% {
        transform: translateX(100vw);
    }
}

.appBarNavItem+.appBarNavItem {
    margin-left: 20px;
}